<html><head></head><body data-new-gr-c-s-check-loaded="14.1056.0" data-gr-ext-installed="">
    Merci! Votre message a été envoyé.</body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>